body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffffff, #1f1f1f);
}

header {
    background-image: url("bg22.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
    gap: 30px;
}

.card {
    background: linear-gradient(#1f1f1f, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.card p {
    margin: 0 0 15px;
    color: #777;
}

/* Halaman detail anggota */
.member-detail {
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(#1f1f1f, #ffffff);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.member-detail img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.member-detail h2 {
    margin-top: 20px;
}

.member-detail p {
    font-size: 18px;
    color: #555;
}
